<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronBeers Lab</title>
    {{!-- <link rel="stylesheet" href="./public/stylesheets/styles.css"> --}}
</head>
<body>
    <nav>
        <ul>
            <li><a href="/index.hbs">Home</a></li>
            <li><a href="/partials/beers">Beers</a></li>
            <li><a href="/randomBeers">Random Beers</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>